.red{
    color:white;
    background-color: red;
}
.blue{
    color:white;
    background-color: blue;
}
.green{
    color:white;
    background-color: green;
}
.yellow{
    color:white;
    background-color: yellow;
}
.pink{
    color:white;
    background-color: pink;
}
.purple{
    color:white;
    background-color: purple;
}
.orange{
    color:white;
    background-color: orange;
}
.orange{
    color:white;
    background-color: orange;
}

