


<div>

    <button (click)="topics()">Arrays</button>

    <div *ngIf="topic==1">
        
        <div *ngIf="state==0">
            
            <p>pls enter size of Array:</p>
            <input #arraysize value="{{arraySize}}" (keyup)="setArraySize(arraysize.value)">
            
            <button (click)="createArray()">click here to confirm</button>
            
        </div>
        
        <div *ngIf="state==1">
            
            <p> pls add data into created array</p>
            
            <div *ngFor="let ele of array index as i">
                <input id="arrayEle_{{i}}"  [(value)]="array[i]" >
                <button (click)="addElement(i)">Add</button>
                
                
                
            </div>
            
        </div>
            <div *ngIf="state==2">
            
                <p> your array : </p>
                
               
                   
                    
                   <h1>
                       {{array | json}}

                   </h1> 

                   <p> you can perform below actions </p>
                

                   <button (click)="toString()">toString</button> <br>
                   <h1 *ngIf="displayToString">
                       {{array.toString() | json}}

                   </h1> 

                   <button (click)="sort()">sort</button><br>

                   <h1 *ngIf="displaySort">
                        {{array.sort() | json}}

                   </h1>

                   <button (click)="reverse()">reverse</button><br>
                   <h1 *ngIf="displayReverse">
                       {{array.reverse() | json}}

                   </h1> 

                   <button (click)="join()">join</button><br>
                   <button (click)="pop()">pop</button><br>

                   <h1 *ngIf="displayPop">
                    {{array.pop() | json}}

                   </h1>
                   <button (click)="push()">push</button><br>

                   <div *ngIf="displayPush">
                        <p> Please enter new element to push into the array:</p>
                    <input id="pushingEle" >
                    <button (click)="pushElement()">Push</button>

                   </div>

                   
                   <button (click)="shift()">shift</button><br>

                    
                    

                    
                </div>
            
        
        
    </div>
    
    
    
</div>