

<div>

    <button (click)="topics()">Arrays</button>

    <div *ngIf="topic==1">
        
        <div *ngIf="state==0">
            
            <p>pls enter size of Array:</p>
            <input #arraysize value="{{arraySize}}" (keyup)="setArraySize(arraysize.value)">
            
            <button (click)="createArray()">click here to confirm</button>
            
        </div>
        
        <div *ngIf="state==1">
            
            <p> pls add data into created array</p>
            
            <div *ngFor="let ele of array index as i">
                <input id="arrayEle_{{i}}"  [(value)]="array[i]" >
                <button (click)="addElement(i)">Add</button>
                
                
                
            </div>
            
        </div>
            <div *ngIf="state==2">
            
                <p> your array : </p>
                
               
                <h1 *ngIf="array.length == 0">
                    <span>[ ]</span>

                </h1>
                    
                <h1 style="display: inline;" #myitems *ngFor="let ele of array index as i" >
                       
                      <span *ngIf="i==0">[</span>  <span id="element_{{i}}">
                        {{ele}}
                      </span> <span *ngIf="i!=array.length-1">,</span>
                      <span *ngIf="i==array.length-1">]</span>
                       
                    </h1> 
                    
                    <p> you can perform below actions </p>
                    
                    

                    
                    <div *ngFor="let method of displayArray index as i">  
                        
                        <button (click)="commonMethodToDisplay(i)">{{displayNamesArray[i]}}</button>
                    </div>
                
                        <h1 *ngIf="displayArray[0]">
                            {{array.toString() | json}}
     
                        </h1> 

                        <h1 *ngIf="displayArray[1]">
                            {{array.sort() | json}}
    
                       </h1>

                       <h1 *ngIf="displayArray[2]">
                        {{array.reverse() | json}}
 
                    </h1> 

                    <h1 *ngIf="displayArray[3]">
                        {{array.pop() | json}}
    
                       </h1>

                       <div *ngIf="displayArray[4]">
                        <p> Please enter new element to push into the array:</p>
                    <input id="pushingEle" >
                    <button (click)="pushElement()">Push</button>
                        </div>
                    
                    <h1 *ngIf="displayArray[5]">
                        {{array.shift() | json}}
                    </h1>
                    
                  
                  

                   

                   

                    
                    

                    
                </div>
            
        
        
    </div>
    
    
    
</div>
